/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Neat 1.7.0
 * http://neat.bourbon.io
 * Copyright 2012-2014 thoughtbot, inc.
 * MIT License */
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  font-family: sans-serif;
  line-height: 1.4em;
  background-image: linear-gradient(90deg, #1C1D21, #31353D, #1C1D21);
  color: #444;
  background-size: contain; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

h2 {
  font-size: 1.5em;
  margin: .75em 0; }

h3 {
  font-size: 1.17em;
  margin: .83em 0; }

h5 {
  font-size: .83em;
  margin: 1.5em 0; }

h6 {
  font-size: .75em;
  margin: 1.67em 0; }

h1, h2, h3, h4, h5, h6 {
  font-weight: bolder;
  line-height: 1.3em; }

p {
  line-height: 1.4em;
  margin-bottom: 1em; }

a {
  color: #4F9EE5;
  text-decoration: none;
  outline: none; }

a:hover {
  color: #92CDCF; }

td {
  padding: 0.25em 0.5em; }

input, textarea {
  font-size: 1em; }

button {
  display: inline-block;
  padding: 0.25em 0.75em;
  border: 0;
  background: #92CDCF;
  color: white;
  font-size: 1em; }

@font-face {
  font-family: "fontastic";
  src: url("../fonts/fontastic.eot");
  src: url("../fonts/fontastic.eot?#iefix") format("embedded-opentype"), url("../fonts/fontastic.woff") format("woff"), url("../fonts/fontastic.ttf") format("truetype"), url("../fonts/fontastic.svg#fontastic") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Lobster";
  src: url("../fonts/Lobster-Regular.ttf");
  font-style: normal;
  font-weight: 100; }

h2 {
  font-family: "Lobster"; }

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important; }

.root-content {
  padding: 2em; }

.toolbar {
  background: #F4F4F4;
  padding: 1em;
  margin-bottom: 1.5em; }

h1.page-title {
  display: none; }

.app-icon {
  color: inherit; }

.app-icon:before {
  content: 'b';
  font-family: 'fontastic';
  display: inline-block;
  font-size: 2.5em;
  padding-right: 0.5rem;
  vertical-align: middle;
  -webkit-transform: rotate(-10deg);
  transform: rotate(-10deg); }

.main-nav-link {
  display: inline-block;
  padding: 1em 1em;
  color: inherit; }

.main-nav-link.active {
  background: #4d5196; }

.page-description {
  font-weight: 100;
  font-size: 1.2em; }

.lists-content {
  color: #EEEFF7;
  text-align: center; }

.task-list {
  background-color: #EEEFF7;
  color: #1C1D21;
  text-align: left;
  display: inline-block;
  max-width: 33%;
  margin: 0 auto; }
  .task-list li {
    padding: .2em;
    vertical-align: middle; }
  .task-list input {
    border: 0;
    background-color: transparent; }
    .task-list input:focus {
      outline: none; }

.task-complete {
  border-radius: 50%;
  padding: 1em;
  vertical-align: middle;
  overflow: auto;
  background-color: #fff;
  border: 2px solid #92CDCF; }

.task-delete {
  float: right;
  color: #1C1D21;
  background-color: transparent; }

.list-view-filter {
  display: inline-block;
  background-color: transparent;
  color: #1C1D21;
  border-radius: .2em;
  border: 1px solid #626674;
  padding: .2em; }
  .list-view-filter:hover {
    background-color: #ddd; }

.main-nav-logo {
  height: 3.5em;
  vertical-align: middle; }

.main-nav {
  background-color: #EEEFF7;
  text-align: center;
  padding: 1em; }

.main-nav-link {
  position: relative; }
  .main-nav-link form {
    position: absolute;
    bottom: -7em;
    right: -5em;
    padding: 1em;
    background-color: #EEEFF7;
    display: inline-block; }

/*                                  *\
  ---  LOGIN PAGE  ---
  most likely the home page

\*                                   */
.home-page-content, .login-content {
  max-width: 25em;
  margin: 0 auto; }

.login-content {
  padding: 2em;
  background-color: #92CDCF;
  color: #EEEFF7;
  border-radius: 1em;
  box-shadow: 5px 5px 40px #1C1D21; }
  .login-content label {
    display: block; }

.form-submit {
  background-color: #EEEFF7;
  color: #1C1D21;
  cursor: pointer; }

.login-input {
  padding: .5em;
  width: 100%;
  margin: .5em 0;
  border: none;
  background-color: #1C1D21;
  color: #EEEFF7; }
  .login-input:focus {
    outline: none; }

.login-page-description {
  color: #EEEFF7;
  margin-top: 2em;
  text-align: left; }

.home-page-tagline {
  margin-top: 0;
  text-align: center;
  font-size: 2em;
  letter-spacing: .2em;
  color: #EEEFF7; }

.home-page-logo {
  width: 100%;
  max-width: 25em; }

.home-page-options {
  padding: .2em 1em;
  text-align: right;
  cursor: pointer; }
  .home-page-options a {
    color: #babedf; }
