<div class="lists-content">
  <h1 class="page-title">(CO)SPIRE</h1>
  <!-- <img src="/static/img/cospirelight.svg" alt="COSPIRE" /> -->
  <h2>
    "Implement your vision. Show others your glory.<br>
    Go ahead, make a list."
  </h2>
  <div class="task-list-wrapper">
    <ul class="task-list">
      <li>
        <form ng-submit="vm.addTask()">
          <input type="text" ng-model="vm.newTask.title" placeholder="new task">
          <button>add</button>
        </form>
      </li>
      <li ng-repeat="task in vm.tasks | statusFilter : vm.statusFilter">
        <input type="checkbox" class="task-complete ng-class: task.status;" ng-class="task.status" ng-click="vm.toggleTask(task)">
        <span class="ng-class: task.status;" ng-click="vm.toggleDetail(task)">{{ task.title }}</span>
        <button class="task-delete" ng-click="vm.deleteTask(task)">X</button>

        <div ng-show='task.detail'>
          <span>created: {{task.date_assigned}}</span>
          <br />
          <span>assign task: </span>
          <select ng-change="vm.assignTask(task)" ng-model="task.assigned_to" >
            <option ng-repeat="user in vm.users" value ="{{user.email}}" selected="{{vm.isAssignee(user, task)}}">
              {{user.name}}
            </option>
          </select>
        </div>
      </li>
    </ul>

    <button ng-click="vm.filterByAll()">all</button>
    <button ng-click="vm.filterByNew()">new</button>
    <button ng-click="vm.filterByStarted()">begun</button>
    <button ng-click="vm.filterByDone()">done</button>

  </div>


</div>
