$dark: #1C1D21;
$darkbgray: #31353D;
$burp: #445878;
$aqua: #92CDCF;
$dull: #EEEFF7;

$bg-color: $dark;
$fg-color: #444;
$input-border-color: #DDD;
$alt-bg-color: #F4F4F4;

$bold-color: #E84E01;
$alt-bold-color: #4F9EE5;

$accent-color: $aqua;
$accent-color-dark: #4d5196;
$alt-accent-bg: $aqua;
$alt-accent-fg: white;
$alt-accent-bg-dark: #44B209;

$primary-text: $dark;
$alt-text: $dull;
