.main-nav-logo {
  height: 3.5em;
  vertical-align: middle;
}

.main-nav {
  background-color: $dull;
  text-align: center;
  padding: 1em;
}

.main-nav-link {
  position: relative;
  form {
    position: absolute;
    bottom: -7em;
    right: -5em;
    padding: 1em;
    background-color: $dull;
    display: inline-block;
  }
}
