.padding {
  padding: .5em;
}
.lists-content {
  color: $dull;
  text-align: center;
}

.task-list li,
.assigned-list li {
  padding: 1em;
}

.task-list li {
  border-bottom: 1px solid #ccc;
}

.assigned-list li {
  border-bottom: none;
}

.task-list {
  background-color: $dull;
  color: $dark;
  text-align: left;
  display: inline-block;
  max-width: 33%;
  margin: 0 auto;
  padding: 1em;
  border-radius: .5em;
  li {
    padding: .2em;
    vertical-align: middle;
  }
  input {
    border: 0;
    background-color: transparent;
    &:focus {
      outline: none;
    }
  }
}

.task-title-input {
  width: 60%;
  padding: .5em;
}

.task-title {
  display: inline-block;
  width: 50%;
}

.btn-right {
  float: right;
}

.task-complete {
  border-radius: 50%;
  padding: 1em;
  vertical-align: middle;
  overflow: auto;
  background-color: #fff;
  border: 2px solid $accent-color;
  // -webkit-appearance: none;
}

.task-assign {
  padding: .5em;
  border: 1px solid $aqua;
  border-radius: 0;
  background-color: #fff;
  color: #fff;
  -webkit-appearance: none;
}

.task-delete {
  float: right;
  color: $primary-text;
  background-color: transparent;
}

.list-view-filter {
  display: inline-block;
  background-color: transparent;
  color: $dark;
  border-radius: .2em;
  border: 1px solid lighten($dark, 30%);
  padding: .2em;
  &:hover {
    background-color: #ddd;
  }
}

.task-date-due {
  position: relative;
  padding: 1em;
  &:after {
    content: "";
    display: block;
    padding-top: 100%;
  }

}

.set-date-btn {
  background-color: $darkbgray;
}

.date-picker {
  position: absolute;
  top: 0;
  left: 0;
  border: none;
  border-radius: 0;
  background-color: lighten($dull, 20%);
}

select.ui-datepicker-month,
select.ui-datepicker-year {
  -webkit-appearance: none;
  padding: .2em .5em;
  border-radius: 0;
  background-color: $aqua;
  color: $dull;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-widget-header {
  background: none;
  border: none;
}

.ui-datepicker,
.ui-widget-header,
.ui-widget-content .ui-state-default {
  border: none;
  background: none;
}


.ui-widget-content .ui-state-default {
  background-color: $aqua;
  color: $dull;
}
