.lists-content {
  color: $dull;
  text-align: center;
}

.task-list {
  background-color: $dull;
  color: $dark;
  text-align: left;
  display: inline-block;
  max-width: 33%;
  margin: 0 auto;
  li {
    padding: .2em;
    vertical-align: middle;
  }
  input {
    border: 0;
    background-color: transparent;
    &:focus {
      outline: none;
    }
  }
}

.task-complete {
  border-radius: 50%;
  padding: 1em;
  vertical-align: middle;
  overflow: auto;
  background-color: #fff;
  border: 2px solid $accent-color;
  // -webkit-appearance: none;
}
.task-delete {
  float: right;
  color: $primary-text;
  background-color: transparent;
}
