<div class="lists-content">
  <h1 class="page-title">(CO)SPIRE</h1>
  <!-- <img src="/static/img/cospirelight.svg" alt="COSPIRE" /> -->
  <h2>
    "Implement your vision. Show others your glory.<br>
    Go ahead, make a list."
  </h2>
  <div class="task-list-wrapper">
    <ul class="task-list">
      <li>
        <form ng-submit="vm.addTask()">
          <input type="text" ng-model="vm.newTask.title" placeholder="new task">
          <button>add</button>
        </form>
      </li>
      <li ng-repeat="task in vm.tasks | statusFilter : vm.statusFilter">
        <input type="checkbox" class="task-complete ng-class: task.status;" ng-class="task.status" ng-click="vm.toggleTask(task)">
        <div class="task-title" ng-click="vm.toggleDetail(task)">
          <span class="ng-class: task.status;">{{ task.title }}</span>
        </div>
        <button class="task-delete" ng-click="vm.deleteTask(task)">X</button>

        <div ng-show="task.detail">
          <label><br>
            <div>
              <span>currently assigned to:</span>
              <span ng-repeat="assignee in task.assigned_to">{{assignee}}</span>
            </div>
            <span>assign to:</span>
            <select ng-change="vm.assignTask(task)" ng-model="task.newAssignment" >
              <option ng-repeat="user in vm.users" value ="{{user.email}}">
                {{user.name}}
              </option>
            </select>
          </label><br>
          <label for="date-due">Date Due:</label>
          <input name="date-due" ui-date="vm.dateOptions" ng-change="vm.updateDate(task)" type="text" placeholder="due date" ng-model="task.date_due"/>
        </div>
      </li>
      <li>
        <button class="list-view-filter" ng-click="vm.filterByAll()">all</button>
        <button class="list-view-filter" ng-click="vm.filterByNew()">new</button>
        <button class="list-view-filter" ng-click="vm.filterByStarted()">begun</button>
        <button class="list-view-filter" ng-click="vm.filterByDone()">done</button>
      </li>
    </ul>

  </div>


</div>
