<div class="lists-content">
  <h1 class="page-title">(CO)SPIRE</h1>
  <!-- <img src="/static/img/cospirelight.svg" alt="COSPIRE" /> -->
  <h2>
    "Implement your vision. Show others your glory.<br>
    Go ahead, make a list."
  </h2>
  <div class="task-list-wrapper">
    <ul class="task-list">
      <li>
        <form ng-submit="vm.addTask()">
          <input type="text" ng-model="vm.newTask.title">
          <button>add</button>
        </form>
      </li>
      <li ng-repeat="task in vm.tasks | orderBy: 'task.id'">
        <input type="checkbox" class="task-complete"></button> {{ task.title }}
        <button class="task-delete" ng-click="vm.deleteTask(task)">X</button>
      </li>
    </ul>
  </div>
</div>
